:root {
  --color-text: #434455;
  --color-link: #2e2f42;
  --color-bth: #4d5ae5;
  --color-light: #ffffff;
  --bth-backround: #f4f4fd;
  --color-footer: #e7e9fc;
}
body {
  background-color: var(--color-light);
  color: var(--color-text);
  font-family: 'Roboto', sans-serif;
}

/* ------------------------HEADER--------------- */
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-bth);
}
.header-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-link);
}
.header-logo,
.logo {
  text-decoration-line: none;
}

.menu-link {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-link);
}
.menu-link {
  text-decoration: none;
}
.current {
  color: var(--color-bth);
}
.namber {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-text);
}
.mail {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-text);
}
.namber,
.mail {
  text-decoration: none;
}
.menu-hed,
.menu-contact {
  list-style: none;
}
.namber:hover,
.namber:focus,
.mail:hover,
.namber:focus {
  color: var(--color-bth);
}
/* ----------------------HERO-------------*/
.hero {
  background-color: var(--color-link);
}
.hero-title {
  font-weight: 600;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--color-light);
}
.modal-bth {
  font-family: inherit;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.04em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: var(--color-light);
  background-color: var(--color-bth);
  cursor: pointer;
}
.button {
  font-family: inherit;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: var(--bth-backround);
  color: var(--color-bth);
  cursor: pointer;
}
.button:hover,
.button:focus {
  color: var(--color-light);
  background-color: var(--color-bth);
}
.modal {
  background-color: var(--color-bth);
  color: var(--color-light);
}
.menu-button {
  list-style: none;
}
.menu-item {
  list-style: none;
}
.menu-item {
  background: var(--color-light);
  border: 0.5px solid var(--bth-backround);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/*-------------------FILLING THE PAGE-----------*/
.team {
  background-color: var(--bth-backround);
}
.description {
  list-style: none;
}
.title-list {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-link);
}
.content-paragraph {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-text);
}

.text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-text);
}
/* -------------------------FOOTER--------------- */
.footer {
  background-color: var(--color-link);
}
.footer-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--bth-backround);
}

.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1, 5;
  letter-spacing: 0.02em;
  color: var(--color-footer);
}
